body {
	background-color: #363636;
	margin:0;
	font-family: "Cursive";

}
.square {
	width: 30%;
	padding-bottom:30%;
	background: grey;
	margin:1.66%;
	float: left;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition:background 0.6s;
	-moz-transition:background 0.6s;
}
#container{
	max-width: 600px;
	margin:30px auto;
}
h1{
	color: black;
	text-align: center;
	margin:0;
	font-weight:normal;
	text-transform: uppercase;
	line-height:1.1;
	padding: 20px 0px;
	background-color: #EDF1F2;
}
#stripe{
	text-align: center;
	height: 30px;
	background: white;
}
button.selected{
	background-color: #363636;
	color: white;
}
#displayColorcode{
	font-size: 200%;
}
button{
	outline: none;
	border:none;
	background:none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: black;
	letter-spacing: 1px;
	font-size: inherit;
	font-family: cursive;
	transition: 0.6s;
}
button:hover{
	background-color: #363636;
	color: white;
}

#messageDisplay{
	display: inline-block;
	width: 20%;
}